.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  margin: 30px;
  border-bottom: 0.5px solid grey;
}
.nav-bar .logo{
  width: auto;
  height: 64px
}
.nav-bar .nav-btns {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: 64px
}
.nav-bar .btn {
  display: inline-block;
  color: white;
}
.nav-bar .btn .link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border: 0.2px solid grey;
  margin-right: 20px ;
}
/* .nav-bar ul ul {
  position: absolute;
  top: 100%;
  display: none;
} 
.navbar ul ul li {
  display: block;
}

.navbar li:hover ul {
  display: block;
}

.navbar ul ul li a:hover {
  background-color: #555;
} */
